body{
    /* background-color: #f5f5f5; */
    background-color: #fbfcff;
}

#emp a{
    text-decoration: none;
}

#navbarJobList{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid rgb(218, 214, 214);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbarJobList p:hover{
    background-color: #fbfcff;
    color: #4a90e3;
    cursor: pointer;

}

#navbarJobList > div:nth-child(1){
    display: flex;
    width: 70%;
    justify-content: space-around;
    /* border: 2px solid red; */
}

#navbarJobList > div:nth-child(2){
    display: flex;
    width: 22%;
    /* border: 2px solid blue; */
}

#navbarJobList > div:nth-child(2) > p{
    margin-left: 15px;
}



#parentOfJobList{
    display: flex;
    /* justify-content: space-between; */
    width: 95%;
    margin: auto;
    margin-top: 15px;
}

#leftSideFilterPart{
    /* border: 2px solid black; */
    width: 24%;
    height: 1250px;
    /* position: fixed; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    background-color: #fbfcff;
    margin-top: 15px;
    margin-bottom: 30px;
    
}

#leftSideFilterPart input{
    accent-color: #4a90e2;
    height: 15px; 
    width: 15px;
    /* margin-left: 15px; */
}

#leftSideFilterPart hr{
    border-top: 1px solid;
    color: rgb(214, 213, 213);
}





#middleJobList{
    /* border: 2px solid red; */
    width: 50%;
    /* height: 1000px; */
    /* margin-left: 24%; */
    margin-left: 1%;
}


/*----------- Right Side Advertisement Section ----------- */
#rightAdvertisement{
    /* border: 2px solid black; */
    width: 25%;
    /* height: 1000px; */
    /* position: fixed; */
     /* margin-left: 71%; */
     margin-left: 1%;
    margin-top: 50px;

    


}


#rightAdvertisement > div:nth-child(1){
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 2px solid black; */
    height: 210px;
}

#rightAdvertisement > div:nth-child(1) > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#rightAdvertisement > div:nth-child(1) h3{
    width: 60%;
    margin-top: 25px;
    margin-left: 10px;
}

#rightAdvertisement > div:nth-child(1) p{
    width: 90%;
    margin: auto;
    margin-top: 8px;
}

#rightAdvertisement > div:nth-child(1) img{
    width: 30%;
    height: 70px;
    margin-right: 15px;
    margin-top: 15px;
}

#rightAdvertisement > div:nth-child(1) > button{
    padding: 8px;
    color: white;
    background-color: #ff8703;
    border: none;
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 12px;
}

#rightAdvertisement > div:nth-child(1) > button:hover{
    cursor: pointer;
    background-color: #fc972a;
}

#rightAdvertisement > div:nth-child(2) > img{
    margin-top: 20px;
    width: 100%;
}
/*----------- Right Side Advertisement Section Ends----------- */

/* -----------------middle job list code starts here------------- */
#middleJobList > div:nth-child(1)~div{
    width: 100%;
    height: 200px;
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 15px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#middleJobList > div:nth-child(1){
    display: flex;
    align-items: center;
    margin-left: 65%;
    color: gray;
}

#sortJobs{
    height: 20px;
    /* margin-bottom: -305px; */
    color: gray;
    border: none;
    outline: none;
    /* background-color: #f5f5f5; */
    background-color: #fbfcff;
}

#middleJobList > div:nth-child(1)~div:hover{
    cursor: pointer;
    transform: scale(1.005);
}

#middleJobList > div:nth-child(1)~div > div{
    /* width: 13%; */
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: -25px;
    margin-left: 20px;
    color: gray;
}

#starMark{
    color: #ff8703;
}

#middleJobList > div:nth-child(1)~div h2{
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 20px;
}

.anchorForDetailPage{
    text-decoration: none;
}

#middleJobList > div:nth-child(1)~div > a + p{
    margin-left: 20px;
}

#middleJobList > div:nth-child(1)~div > div ~ p{
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    width: 90%;
}

#saveTheJobButton{
    display: flex;
    justify-content: center;
    margin-left: 85%;
    margin-top: -25px;
    background-color: white;
    border: none;
    font-weight: bolder;
    color: gray;
}

#saveTheJobButton:hover{
    cursor: pointer;
    color: rgb(0, 123, 255);
}




/* -----------Left side filter section---------------- */

#filterSectionLeft{
    color: rgb(158, 182, 226);
    margin-top: 10px;
}




/* -------------Shivani's Footer Starts---------------------- */

.container{
    background-color:#2e3339;;
    color: white;
    display: flex;
    height: 500px;
    padding-left: 140px;
    font-style: normal;
   }
   .card1{
    height: auto;
    width: 250px;
    text-align: center;
    text-align: left;
   }
    .card2{
    height: auto;
    width: 250px;
    text-align: center;
    text-align: left;
    }
    .card3{
    height: auto;
    width: 250px;
    text-align: center;
    text-align: left;
    }
    .card4{
    height: auto;
    width: 250px;
    text-align: center;
    text-align: left;
    }

    .grid-container{
        margin-bottom: 5px;
    }
 .grid-item{
    color: grey;
    position: static;
    font-family: Helvetica, sans-serif;
    font-size: smaller;
   
 }
 .grid-item:hover{
   cursor: pointer;
 }
   
 .grid-item .text{
    visibility: hidden;
    width: 120px;
    background-color:white;
    color: black;
    position: absolute;
    z-index: 1;

 }

 .grid-item:hover .text{
    visibility: visible;
 }

 /* -------------Shivani's Footer Ends---------------------- */
